[Datasets]
train = /disk/scratch2/s1786813/repos/kaldi/egs/voxceleb/v3/data/voxceleb1_dev
test = /disk/scratch2/s1786813/repos/kaldi/egs/voxceleb/v3/data/voxceleb1_test

[Model]
#allowed model_type : ['XTDNN', 'ETDNN']
model_type = XTDNN
classifier_heads = speaker

[Optim]
classifier_types = xvec
classifier_lr_mults = [1.0]
classifier_loss_weights = [1.0]

[Hyperparams]
lr = 0.2
batch_size = 500
max_seq_len = 350
no_cuda = False
seed = 1234
num_iterations = 50000
momentum = 0.5
scheduler_steps = [40000]
scheduler_lambda = 0.5
multi_gpu = False
classifier_lr_mult = 1.
embedding_dim = 256

[Outputs]
model_dir = exp/example_exp
checkpoint_interval = 500
